.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 0;
  position: relative;
}

.card__image {
  width: 100%;
  height: 413px;
  border-radius: 8px;
  object-fit: cover;
  display: block;
}

.card__delete-button {
  position: absolute;
  top: 9px;
  right: 10px;
  width: 32px;
  height: 32px;
  border: none;
  padding: 0;
  background-color: transparent;
  background-image: url("../images/trash.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.card__delete-button:hover {
  background-image: url("../images/trash_hover.svg");
}

.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  min-width: 0;
}

.card__title {
  margin: 0;
  min-width: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.card__like-icon {
  width: 23px;
  height: 20px;
  display: block;
  opacity: 40%;
  transition: opacity 0.8s ease;
}

.card__like-button:hover .card__like-icon {
  opacity: 100%;
}

.card__like-button_is-active .card__like-icon {
  opacity: 100%;
}

.card__like-button_is-active:hover .card__like-icon {
  opacity: 80%;
}
