.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: calc(1416px - 1340px);
}

.footer__content {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    opacity: 70%;
}